@model StripeDemo.Models.ProductViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="container">
    <div class="row product-detail-2">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="wrapper">
                <div class="row">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="~/Content/img/7724415001S_Garrett.1.jpg" alt="First slide">
                            </div>
                            <div class="item">
                                <img src="~/Content/img/7724415001S_Garrett_2.jpg" alt="Second slide">
                            </div>
                            <div class="item">
                                <img src="~/Content/img/7724415001S_Garrett_3.jpg" alt="Third slide">
                            </div>
                            <div class="item">
                                <img src="~/Content/img/7724415001S_Garrett_5.jpg" alt="Fourth slide">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <h1>Garrett GT3788VA Turbocharger</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-left">
                        <div class="product-price">
                            <span>Price</span><br /> $1144.99
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                       <!-- <button type="button" class="btn btn-lg btn-success btn-lg">Buy</button>-->
                        <form action="" method="POST">
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="@Model.StripePublishableKey">
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="vendor-logo">
                            <img src="~/Content/img/garrettturbo_logo.jpg">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <h2>Garrett</h2>
                        <div class="vendor-rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="vendor-last-login">
                            Last Login : 09 Nov 2016
                        </div>
                        <div class="vendor-feedback">
                            98% (1130 feedback)
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Current Stock</h3>
                        <div class="product-stock">
                            Only 4 Left!!
                        </div>
                        <h3>Specifications</h3>
                        <div class="product-specifications">
                            Category: Turbocharger<br />
                            Brand: Garrett<br />
                            Application: 2004.5-2007 Ford 6.0L Powerstroke
                        </div>
                        <h3>Product Description</h3>
                        <div class="product-descriptions">
                            <p>
                                Designed as a "drop-in upgrade", the GT3788A retain use of factory components.<br />
                                Such as engine electronics, mounting pedestal and requires no additional modifications.<br />
                                Features the Garrett® patented Advanced Variable Nozzle Turbine (AVNTTM) design for increased compressor
                                flow and boost response<br/>
                                Utilizes nine movable vanes which significantly increase turbine efficiency and improve engine
                                performance from idle launch through peak torque<br />
                                Patented integral electro-hydraulic actuation and proportional solenoid for infinitely variable control
                                Larger compressor wheel over stock increases maximum power range while keeping turbo speeds down for the
                                same power output<br />
                                Supports up to an additional 175 HP over stock with no sacrifice in drivability<br />
                                Suitable as a performance upgrade or replacement for original equipment<br />
                                Outline interchangeable for a perfect fit each and every time<br />
                                BRAND NEW -- NO CORE
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>